<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
  <div class="row">
  <div class="container">
   <% include ../partials/header %>
  <div class="col-sm-12">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
  </div>
</div>	
  <% include ../partials/scripts %>
  </body>
</html>
